html
    head
        title Guess word by Person!
        script(defer src="client.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")

    body(id="body")

        - if (!responseObject)
            include partials/header
            h2(class="bounceInLeft animated") Get Tweets by Person
            input(type="text" id="textInput" class="bounceInLeft animated")
            input(type="button" onclick="makeRequest()" value="Make Request" class="bounceInLeft animated")
            div(id="responseDiv" class="bounceInLeft animated")
        - else
            each tweet in responseObject
                li(class="bounceInLeft animated")!= tweet 
            - let t = JSON.stringify(responseObject)
            div(class="bounceInLeft animated")= t
            